@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

/* Header - Logo-Bar */

#logo-bar {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to right, rgb(246, 240, 240) , rgb(224, 122, 165));
    position: fixed;
    box-shadow: 0px 5px 5px rgb(86, 84, 84);
}

#logo-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#logo-bar img{
    width: 50vw;
    height: 30vw;
    object-fit: contain;
    max-width: 200px;
    max-height: 150px;
}

#logo-slogan p{
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 100%;
    margin: 0 0 30px 15px;
    line-height: 0px;
    font-weight: 300;
    font-family: 'Karla', sans-serif;
}

#image {
    position: absolute;
    right: 0px;
    opacity: 0;
    ;
}


@media screen and (min-width: 768px) 
{
    #logo-slogan p {
        font-size: 150%;
    }

    #image {
        opacity: 0.65;
    }
}
