{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        {% block title %}
        DateKnight
        {% endblock %} 
        </title>

        {% tailwind_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body class="bg-pink-200">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="p-2 mb-2 bg-pink-600 text-white rounded"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <div class="flex justify-center items-center h-screen">
                <div class="bg-white p-6 rounded-lg shadow-2xl">
                    <h1 class="text-3xl font-bold mb-2 text-pink-600">DateKnight</h1>
    </body>
</html>