{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="static/date/css/style.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Knight</title>
    <link rel="icon" type="image/png" href="static/date/images/logo 2.png">
    <link rel="stylesheet" type="text/css" href="static/date/css/style.css">
    {% tailwind_css %}
</head>

<body>
    <header>
        <nav>
            <div id="logo-bar">
                <div id="logo-container">
                    <div id="logo-image">
                        <img src="static/date/images/logo-transparent-png.png"
                            alt="two hearts interlinked with website name below it">
                    </div>
                    <div id="logo-slogan">
                        <p>Find Your Perfect Date</p>
                    </div>
                </div>
            <div id="image">
                <img src="static/date/images/image-transparent_2.png" alt="silhouette of a man proposing to a woman">
            </div>
        </div>
        </nav>
    </header>
    <main>
        <div class="flex justify-center items-center h-screen mt-135px bg-white-200">
            <div class="bg-white p-6 rounded-lg shadow-2xl">
                <h1 class="text-3xl font-bold mb-2">Date Knight</h1>
                <p class="text-gray-600">Find your perfect date</p>
            </div>
    </main>
</body>

</html>