{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DateKnight</title>
    {% tailwind_css %}
</head>
<body>

<div class="w-screen lg:h-screen flex place-content-center bg-white">
    <div class="flex flex-wrap justify-center align-center gap-2 h-min w-11/12 max-w-screen-xl bg-white"> 
        <h1 class="text-center w-full text-4xl font-bold mt-24 mb-9">The Date Knights</h1>
        <div class="flex flex-col bg-pink-100 rounded-xl m-2 p-6 w-80 h-min sm:w-80">
            <h2 class="text-xl text-center mb-3 font-semibold">Amazing Coder</h2>
            <img src="../static/date/images/coder.jpg" class="w-5/6 m-2 self-center">
            <p class="m-2">This person has great experience in the world and has is the best at what they do. This coder is so amazing and you should check out their work on github.</p>
        </div>
        <div class="flex flex-col bg-pink-100 rounded-xl m-2 p-6 w-80 h-min sm:w-80">
            <h2 class="text-xl text-center mb-3 font-semibold">Amazing Coder</h2>
            <img src="../static/date/images/coder.jpg" class="w-5/6 m-2 self-center">
            <p class="m-2">This person has great experience in the world and has is the best at what they do. This coder is so amazing and you should check out their work on github.</p>
        </div> 
        <div class="flex flex-col bg-pink-100 rounded-xl m-2 p-6 w-80 h-min sm:w-80">
            <h2 class="text-xl text-center mb-3 font-semibold">Amazing Coder</h2>
            <img src="../static/date/images/coder.jpg" class="w-5/6 m-2 self-center">
            <p class="m-2">This person has great experience in the world and has is the best at what they do. This coder is so amazing and you should check out their work on github.</p>
        </div> 
        <div class="flex flex-col bg-pink-100 rounded-xl m-2 p-6 w-80 h-min sm:w-80">
            <h2 class="text-xl text-center mb-3 font-semibold">Amazing Coder</h2>
            <img src="../static/date/images/coder.jpg" class="w-5/6 m-2 self-center">
            <p class="m-2">This person has great experience in the world and has is the best at what they do. This coder is so amazing and you should check out their work on github.</p>
        </div> 
        <div class="flex flex-col bg-pink-100 rounded-xl m-2 p-6 w-80 h-min sm:w-80">
            <h2 class="text-xl text-center mb-3 font-semibold">Amazing Coder</h2>
            <img src="../static/date/images/coder.jpg" class="w-5/6 m-2 self-center">
            <p class="m-2">This person has great experience in the world and has is the best at what they do. This coder is so amazing and you should check out their work on github.</p>
        </div> 
        <div class="flex flex-col bg-pink-100 rounded-xl m-2 p-6 w-80 h-min sm:w-80">
            <h2 class="text-xl text-center mb-3 font-semibold">Amazing Coder</h2>
            <img src="../static/date/images/coder.jpg" class="w-5/6 m-2 self-center">
            <p class="m-2">This person has great experience in the world and has is the best at what they do. This coder is so amazing and you should check out their work on github.</p>
        </div>    
        
    </div>
</div>
</body>
</html>
